
@{
    ViewBag.Title = "Actualizar";
}

<h2>Los datos se actualizaron correctamente</h2>

<p>@Html.ActionLink("Ir a Tabla de datos actualizados", "TablaDatos")</p>
@Html.ActionLink("Regresar a menú", "Index")

