
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@Html.ActionLink("Cargar los paises a un diccionario", "LectorPaises")</p>
<p>@Html.ActionLink("Cargar estado actual de las calcomanias", "DictionarySuccess")</p>
<p>@Html.ActionLink("Actualizar los datos de las calcomanias", "Actualizar")</p>

